# Question 1:

In [1]:
a=0
def b():
    global a
    a= c(a)
def c(a):
    return a+2

In [2]:
b()

When function b() is called, then value of global a changes from 0 to 2 because of the other function c(a) which returns value a+2 = 0+2 = 2. So value of global a becomes 2.

In [3]:
b()

Before calling function b() again, a=2 now. After calling function b(), a becomes 4 in the similar manner.

In [4]:
b()

Here, a became 2+2+2 = 6. So, when a would be executed it's value would be 6

In [5]:
a

6

Value displayed when last expression (a) is executed = 6

# Question 2:

In [6]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+ file_name +" Not Found")

In [7]:
file_length('idterm.py')

File idterm.py Not Found

# Question 3:

In [8]:
class Marsupial():
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self,thing):
        return self.pouch.append(thing)
    def pouch_contents(self):
        return self.pouch

In [9]:
m = Marsupial()

In [10]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [11]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [12]:
class Kangaroo(Marsupial):
    def __init__(self, x_coordinate, y_coordinate):
        self.pouch = []
        self.x = x_coordinate
        self.y = y_coordinate
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return (" I am a kangaroo located at coordinates "+ "(" + str(self.x) + "," + str(self.y) + ")")

In [13]:
m = Marsupial()

In [14]:
k=Kangaroo(0,0)

In [15]:
print(k)

 I am a kangaroo located at coordinates (0,0)

In [16]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [17]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
k.jump(1,0)

In [19]:
k.jump(1,0)

In [20]:
k.jump(1,0)

In [21]:
print(k)

 I am a kangaroo located at coordinates (3,0)

# Question 4:

In [22]:
def collatz(x):
    if(type(x) == int and x > 0):
        if x > 1:
            if(x % 2 == 0):
                print(x)
                x = x/2
                x = int(x)
                collatz(x)
            else:
                print(x)
                x = (3*x)+1
                x = int(x)
                collatz(x)
        else: 
            print(x)
    else:
        return str(x) +" is not a positive integer. " +" Please Enter a non-negative integer"

In [23]:
collatz(-5)

'-5 is not a positive integer.  Please Enter a non-negative integer'

In [24]:
collatz(1)

1

In [25]:
collatz(10)

10
5
16
8
4
2
1

# Question 5:

In [26]:
def binary(entry):
    if type(entry == int):
        if (entry != 0):
            binary(entry//2)
            print(entry%2, end = " ")
        else:
            return 0
    else:
        print("Please enter a non-negative integer \'n\'. ")

In [27]:
binary(0)

0

In [28]:
binary(1)

1

In [29]:
binary(3)

1 1

In [30]:
binary(9)

1 0 0 1

# Question 6:

In [31]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.Headerr = ''
    
    def handle_Start_Tag(self, tag, attrs):
        if tag in ['h1','h2','h3','h4','h5']:
            self.Headerr = tag
    
    def handle_Data_(self, attrs):
        if self.Headerr in ['h1','h2','h3','h4','h5']:
            self.Headerr = list(self.Headerr)
            _indent_ = (int(self.Headerr[1])-1) * ' ' 
            print()
            print(_indent_ + attrs)

In [62]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

# Question 7:

In [33]:
# from urllib.request import urlopen
# from urllib.parse import urljoin
import requests
from bs4 import BeautifulSoup   

def webdir(_url_, _depth_, _indent_):
    x = requests.get(_url_)
    print()
    print(_url_)
#     if _indent_ == 0:
#         print(_url_)
#         else:
#         print(_indent_*' ',_url_)
    
    if(_depth_ == _indent_):
        return
    y = BeautifulSoup(x.text, 'html.parser')
        
    for the_link in y.findAll('a'):
        z = the_link.get('href')
        if(z.startswith('http')):
            webdir(z, _depth_, _indent_+1)
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html

http://reed.cs.depaul.edu/lperkovic/test2.html

# Qustion 8:

In [34]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [35]:
%%sql
CREATE TABLE DETAILS
(
    City        varchar(20),
    Country     varchar(20),
    Season      varchar(7),
    Temperature_C float,
    Rainfall_mm    float
);

INSERT INTO DETAILS

VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9),
       ('Mumbai', 'India', 'Spring', 28.4, 16.2),
       ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
       ('Mumbai', 'India', 'Fall', 27.6, 346.0),
       ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
       ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
       ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
       ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
       ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
       ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
       ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
       ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
12 rows affected.

[]

(a)

In [36]:
%%sql
SELECT Temperature_C FROM DETAILS

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

(b)

In [37]:
%%sql
SELECT DISTINCT City FROM DETAILS

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

(c)

In [38]:
%%sql
SELECT * FROM DETAILS
WHERE Country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

(d)

In [39]:
%%sql
SELECT * FROM DETAILS
WHERE Season = 'Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

(e)

In [40]:
%%sql
SELECT City, Country, Season FROM DETAILS
WHERE Rainfall_mm Between 200 AND 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

(f)

In [41]:
%%sql
SELECT City, Country FROM DETAILS
WHERE Season = 'Fall' AND Temperature_C > 20 
ORDER BY Temperature_C ASC

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

(g)

In [42]:
%%sql
SELECT SUM(Rainfall_mm) FROM DETAILS 
WHERE City = 'Cairo'

 * sqlite://
Done.

[(27.6,)]

(h)

In [43]:
%%sql
SELECT SUM(Rainfall_mm) FROM DETAILS 
WHERE Season = 'Winter'

 * sqlite://
Done.

[(230.1,)]

In [44]:
%%sql
SELECT SUM(Rainfall_mm) FROM DETAILS 
WHERE Season = 'Summer'

 * sqlite://
Done.

[(1706.5,)]

In [45]:
%%sql
SELECT SUM(Rainfall_mm) FROM DETAILS 
WHERE Season = 'Fall'

 * sqlite://
Done.

[(569.0,)]

# Question 9:

In [46]:
words= ['The','quick','brown','fox','jumps','over','the','lazy','dog']

(a)

In [47]:
words_a = [k.upper() for k in words]
print(words_a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

(b)

In [48]:
words_b = [k.lower() for k in words]
print(words_b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

(c)

In [49]:
words_c = [len(k) for k in words]
print(words_c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

(d)

In [50]:
words_d = [[k.upper(),k.lower(),len(k)] for k in words]
print(words_d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

(e)

In [51]:
words_e = [k for k in words if len(k) >= 4]
print(words_e)

['quick', 'brown', 'jumps', 'over', 'lazy']